<%- include("../partials/header") -%>
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/accordion.css">
    <div class="container-fluid sgtContent">

        <form action="/booze/new" method="post" class="row gy-3 gx-4" style="margin-top: -25px; margin-left: 10px; margin-right: 10px;">

            <div class="row gy-3 gx-4">
                <div class="col-s-12 col-md-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" name="name" required autofocus>
                        <label for="name">Merk</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="series" name="series">
                        <label for="series">Serie</label>
                    </div>
                </div>

                <div class="col-s-12 col-md-3">
                    <div class="form-floating">
                        <select class="form-select" name="category" id="category">
                            <option selected></option>
                            <% category.forEach(item => { %>
                                <option value="<%= item.item %>"><%= item.item %></option>
                            <% }); %>
                        </select>
                        <label for="category">Soort drank</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-3">
                    <div class="form-floating">
                        <select class="form-select" name="subcategory" id="subcategory">
                            <option selected></option>
                            <% subcategory.forEach(item => { %>
                                <option value="<%= item.item %>"><%= item.item %></option>
                            <% }); %>
                        </select>
                        <label for="subcategory">Specificatie</label>
                    </div>
                </div>
            </div>

            <div class="row gy-3 gx-4">
                <div class="col-s-12 col-md-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" style="text-align: end;" id="contents" name="contents" value="70">
                        <label for="contents">Inhoud in cl</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" style="text-align: end;" id="alcohol" name="alcohol" max="100">
                        <label for="alcohol">Alcohol in %</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" style="text-align: end;" id="aged" name="aged" max="300">
                        <label id="agedLabel" for="aged" class="form-label">Leeftijd</label>
                    </div>
                </div>

                <div class="col-s-12 col-md-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="image" name="image">
                        <label for="image">Afbeelding</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-3">
                    <button class="btn but-sarge-default" style="padding-block: 15px;" onclick="enterImage(event)">Afbeelding</button>
                </div>
            </div>
    
            


            <div class="row gy-3 gx-4">
                <div class="col-s-12 col-md-4">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="distillery" name="distillery">
                        <label for="distillery">Distilleerderij</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-2">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="distilleryFounded" name="distilleryFounded">
                        <label for="distilleryFounded">Distilleerderij gesticht</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="distilleryWebsite" name="distilleryWebsite">
                        <label for="distilleryWebsite">Distilleerderij website</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-1">
                    <button class="btn but-sarge-default" style="padding-block: 15px;" onclick="openSite('distilleryWebsite',event)">Open</button>
                </div>
            </div>

            <div class="row gy-3 gx-4">
                <div class="col-s-12 col-md-6">
                    <div class="form-floating">
                        <textarea class="form-control" style="height: 100px;" name="nose" id="nose"></textarea>
                        <label for="nose">Opgegeven nosing</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-6">
                    <div class="form-floating">
                        <textarea class="form-control" style="height: 100px;" name="taste" id="taste"></textarea>
                        <label for="taste">Opgegeven tasting</label>
                    </div>
                </div>
            </div>

            <div class="row gy-3 gx-4">

                <div class="col-s-12 col-md-4">
                    <div class="form-floating">
                        <select class="form-select" name="continent" id="continent">
                            <option selected></option>
                            <% continent.forEach(item => { %>
                                <option value="<%= item.english %>"><%= item.item %></option>
                            <% }); %>
                        </select>
                        <label for="continent">Werelddeel</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-4">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="origin" name="origin">
                        <label for="origin">Land van herkomst</label>
                    </div>
                </div>
                <div class="col-s-12 col-md-4">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="region" name="region">
                        <label for="region">Regio</label>
                    </div>
                </div>
            </div>
            
            <div class="row gy-3 gx-4">
                <div class="col-s-12 col-md-6">
                </div>
                <div class="col-s-12 col-md-6">
                    <button type="reset" class="btn but-sarge-default" style="float: inline-start;">Herstel</button>
                    <button type="submit" class="btn but-sarge-default" style="float: inline-end;">Opslaan</button>
                </div>
            </div>

            <div class="row gy-3 gx-4">
                <div class="accordion" id="stBoozeMain">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#stBooze" aria-expanded="true" aria-controls="stBooze">
                                st. Booze input
                            </button>
                        </h2>
                        <div id="stBooze" class="accordion-collapse collapse" data-bs-parent="#stBoozeMain">
                            <div class="accordion-body">
                                <div class="row gy-2 gx-3 align-items-center justify-content-between" style="margin-top: 0px;">
                                    <div class="col-auto">
                                        <div class="form-floating">
                                            <textarea class="form-control" style="height: 100px;" name="stBoozeNose" id="stBoozeNose" cols="30" rows="100"></textarea>
                                            <label for="stBoozeNose">Nosing</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-floating">
                                            <textarea class="form-control" style="height: 100px;" name="stBoozeTaste" id="stBoozeTaste" cols="30" rows="10"></textarea>
                                            <label for="stBoozeTaste">Tasting</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="stBoozeRating" name="stBoozeRating">
                                            <label for="stBoozeRating">Cijfer</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="stBoozeDayAfter" name="stBoozeDayAfter">
                                            <label for="stBoozeDayAfter">Day after</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </form>
    </div>
    <script src="/js/boozeNew.js"></script>
<%- include("../partials/footer") -%>