<%- include("../partials/header") -%>
    <link rel="stylesheet" href="/css/accordion.css">

    <div class="container-fluid sgtContent">
        <div class="">
            <div class="row gy-2 gx-3 align-items-center justify-content-center">

                <div class="col-10 col-md-8">

                    <div class="accordion" id="maintenance">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#continenten" aria-expanded="true" aria-controls="continenten">
                                    Continenten  -<%= continent.length %>-
                                </button>
                            </h2>
                            <div id="continenten" class="accordion-collapse collapse show" data-bs-parent="#maintenance">
                                <div class="accordion-body">
                                    <% if(continent.length>0) { %>
                                        <div class="row" style="font-weight: bold;">
                                            <div class="col-s-12 col-md-2">NAAM</div>
                                            <div class="col-s-12 col-md-2">ENGELS</div>
                                            <div class="col-s-12 col-md-4">OMSCHRIJVING</div>
                                            <div class="col-s-12 col-md-1">ACTIEF</div>
                                        </div>
                                        <% continent.forEach(item => { %>
                                            <div class="row" style="margin-top: 0px;">
                                                <div class="col-s-12 col-md-2" style="font-weight: bold;"><a href="/maintenance/edit<%= item._id %>"><%= item.item %></a></div>
                                                <div class="col-s-12 col-md-2"><%= item.english %></div>
                                                <div class="col-s-12 col-md-4"><%= item.description %></div>
                                                <div class="col-s-12 col-md-1 text-center">
                                                    <input type="checkbox" id="<%= item.item %>" name="<%= item.item %>" <%= item.isActive === true ? 'checked' : '' %> onchange="changeCheckbox('<%= item.item %>','<%= item._id %>')">
                                                </div>
                                                <div class="col-s-12 col-md-3">
                                                    <i class="fas fa-skull-crossbones d-flex justify-content-end" onclick="deleteItem('<%= item._id %>','<%= item.item %>');"></i>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } else { %>
                                        <div class="row">
                                            <span style="font-weight: bold;">Geen werelddelen gevonden.</span>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categorieen" aria-expanded="true" aria-controls="categorieen">
                                    Drank soorten -<%= category.length %>-
                                </button>
                            </h2>
                            <div id="categorieen" class="accordion-collapse collapse" data-bs-parent="#maintenance">
                                <div class="accordion-body">
                                    <% if(category.length>0) { %>
                                        <div class="row" style="font-weight: bold;">
                                            <div class="col-s-12 col-md-4">NAAM</div>
                                            <div class="col-s-12 col-md-4">OMSCHRIJVING</div>
                                            <div class="col-s-12 col-md-1">ACTIEF</div>
                                        </div>
                                        <% category.forEach(item => { %>
                                            <div class="row" style="margin-top: 0px;">
                                                <div class="col-s-12 col-md-4" style="font-weight: bold;"><a href="/maintenance/edit<%= item._id %>"><%= item.item %></a></div>
                                                <div class="col-s-12 col-md-4"><%= item.description %></div>
                                                <div class="col-s-12 col-md-1 text-center">
                                                    <input type="checkbox" id="<%= item.item %>" name="<%= item.item %>" <%= item.isActive === true ? 'checked' : '' %> onchange="changeCheckbox('<%= item.item %>','<%= item._id %>')">
                                                </div>
                                                <div class="col-s-12 col-md-3">
                                                    <i class="fas fa-skull-crossbones d-flex justify-content-end" onclick="deleteItem('<%= item._id %>','<%= item.item %>');"></i>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } else { %>
                                        <div class="row">
                                            <span style="font-weight: bold;">Geen drank soort gevonden.</span>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subcategorieen" aria-expanded="true" aria-controls="subcategorieen">
                                    Specificaties -<%= subcategory.length %>-
                                </button>
                            </h2>
                            <div id="subcategorieen" class="accordion-collapse collapse" data-bs-parent="#maintenance">
                                <div class="accordion-body">
                                    <% if(subcategory.length>0) { %>
                                        <div class="row" style="font-weight: bold;">
                                            <div class="col-s-12 col-md-4">NAAM</div>
                                            <div class="col-s-12 col-md-4">OMSCHRIJVING</div>
                                            <div class="col-s-12 col-md-1">ACTIEF</div>
                                        </div>
                                        <% subcategory.forEach(item => { %>
                                            <div class="row" style="margin-top: 0px;">
                                                <div class="col-s-12 col-md-4" style="font-weight: bold;"><a href="/maintenance/edit<%= item._id %>"><%= item.item %></a></div>
                                                <div class="col-s-12 col-md-4"><%= item.description %></div>
                                                <div class="col-s-12 col-md-1">
                                                    <input type="checkbox" id="<%= item.item %>" name="<%= item.item %>" <%= item.isActive === true ? 'checked' : '' %> onchange="changeCheckbox('<%= item.item %>','<%= item._id %>')">
                                                </div>
                                                <div class="col-s-12 col-md-3">
                                                    <i class="fas fa-skull-crossbones d-flex justify-content-end" onclick="deleteItem('<%= item._id %>','<%= item.item %>');"></i>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } else { %>
                                        <div class="row">
                                            <span style="font-weight: bold;">Geen specificaties gevonden.</span>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>                    

            </div>
        </div>
    </div>
    <script src="/js/maintenanceIndex.js"></script>
<%- include("../partials/footer") -%>